<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Corporation",
  "name": "CV. Bagus Evi Trans",
  "alternateName": "Bagus Evi Trans Rent Car",
  "url": "https://bagusevitrans.com",
  "logo": "https://bagusevitrans.com/images/logo-512x512.png",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "081357754513",
    "contactType": "customer service",
    "areaServed": "ID",
    "availableLanguage": ["Indonesian","en"]
  },{
    "@type": "ContactPoint",
    "telephone": "081357754513",
    "contactType": "reservations",
    "areaServed": "ID",
    "availableLanguage": ["Indonesian","en"]
  }],
  "sameAs": "https://bagusevitrans.com"
}
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "AutoRental",
    "priceRange": "180000-1100000",
    "image": [
        "https://bagusevitrans.com/images/logo-512x512.png"
    ],
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Sidoarjo",
        "addressRegion": "Jawa Timur",
        "postalCode": "61258",
        "streetAddress": "Jl. Masjid Baitusalam, RT.03 RW.01, Beciro, Jumputrejo, Sukodono"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": -7.41611,
        "longitude": 112.697554
    },
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "reviewCount": "6"
    },
    "name": "CV. Bagus Evi Trans",
    "url": "https://bagusevitrans.com",
    "email": "bagusevitrans@gmail.com",
    "telephone": "081357754513",
    "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ],
    "opens": "00:00",
    "closes": "23:59"
    },
    "sameAs": "https://bagusevitrans.com"
}
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "CV. Bagus Evi Trans",
    "url": "https://bagusevitrans.com",
    "potentialAction": {
        "@type": "SearchAction",
        "target": "google.com/search?sitesearch=bagusevitrans.com&q={search_term_string}",
        "query-input": "required name=search_term_string"
    }
}
</script>